{% if content.left_sidebar and content.right_sidebar %}
  {% set main_class = 'decanter-width-one-half' %}
{% elseif content.left_sidebar or content.right_sidebar %}
  {% set main_class = 'decanter-width-three-fourths' %}
{% endif %}
{% set sidebar_class = 'decanter-width-one-fourth' %}

{% set attributes = attributes.addClass([settings.section_width, 'clearfix', 'three-column']) %}
{% if settings.region_widths == 'equal' and content.left_sidebar and content.right_sidebar %}
  {% set sidebar_class = 'decanter-width-one-third' %}
  {% set main_class = 'decanter-width-one-third' %}
{% endif %}

{% set main_attributes = settings.main_content == 'main-region' ? region_attributes.main.setAttribute('id', 'main-content') : region_attributes.main %}
{% set attributes = settings.main_content == 'left-sidebar' ? attributes.setAttribute('id', 'main-content') : attributes %}

{% if content %}

  <div{{ attributes.addClass('layout') }}>

    {% if content.left_sidebar %}
      <div{{ region_attributes.left_sidebar.addClass([sidebar_class, 'layout__region']) }}>
        {{ content.left_sidebar }}
      </div>
    {% endif %}

    <div{{ main_attributes.addClass([main_class, 'layout__region']) }}>
      {{ content.main }}
    </div>

    {% if content.right_sidebar %}
      <div{{ region_attributes.right_sidebar.addClass([sidebar_class, 'layout__region']) }}>
        {{ content.right_sidebar }}
      </div>
    {% endif %}

  </div>

{% endif %}
