{% if content.left_sidebar and content.right_sidebar %}
  {% set main_class = 'decanter-width-one-half' %}
{% elseif content.left_sidebar or content.right_sidebar %}
  {% set main_class = 'decanter-width-three-fourths' %}
{% endif %}
{% set sidebar_class = 'decanter-width-one-fourth' %}

{% set attributes = attributes.addClass([settings.section_width, 'clearfix', 'three-column']) %}
{% if settings.region_widths == 'equal' and content.left_sidebar and content.right_sidebar %}
  {% set sidebar_class = 'decanter-width-one-third' %}
  {% set main_class = 'decanter-width-one-third' %}
{% endif %}

{% set main_attributes = settings.main_content == 'main' ? region_attributes.main.setAttribute('id', 'main-content') : region_attributes.main %}
{% set attributes = settings.main_content == 'left_sidebar' ? attributes.setAttribute('id', 'main-content') : attributes %}
{% set layout_container_tag = settings.main_content == 'left_sidebar' ? 'main' : 'div' %}
{% set main_container_tag = settings.main_content == 'main-region' ? 'main' : 'div' %}

{% if content %}

  <{{ layout_container_tag }}{{ attributes.addClass('layout') }}>

    {% if content.left_sidebar %}
      <div{{ region_attributes.left_sidebar.addClass([sidebar_class, 'layout__region']) }}>
        {{ content.left_sidebar }}
      </div>
    {% endif %}

    <{{ main_container_tag }}{{ main_attributes.addClass([main_class, 'layout__region']) }}>
      {{ content.main }}
    </{{ main_container_tag }}>

    {% if content.right_sidebar %}
      <div{{ region_attributes.right_sidebar.addClass([sidebar_class, 'layout__region']) }}>
        {{ content.right_sidebar }}
      </div>
    {% endif %}

  </{{ layout_container_tag }}>

{% endif %}
