{% set attributes = attributes.addClass('wide-card') %}

<div{{ attributes }}>
  {% if image %}
    <div class="wide-card__img">
      {{ image }}
    </div>
  {% endif %}
  <div class="wide-card__content">

    {% if headline %}
      <div class="wide-card__headline">{{ headline }}</div>
    {% endif %}

    {% if time %}
      <div class="wide-card__date">{{ time }}</div>
    {% endif %}

    <div class=wide-card__subcontent>
      {% if link %}
        <div class="wide-card__source">
          {{ link }}
        </div>
      {% endif %}

      {% if link and program %}
        &nbsp;|&nbsp;
      {% endif %}

      {% if program %}
        <div class="wide-card__program">{{ program }}</div>
      {% endif %}
    </div>

    {% if title %}
      <h2 class="wide-card__title">{{ title }}</h2>
    {% endif %}

    {% if description %}
      <div class="wide-card__description">
        {{ description }}
      </div>
    {% endif %}
  </div>
</div>
