{%- set attributes = attributes.addClass('hb-testimonial') -%}

{% if variant %}
  {% set variant_class = "hb-testimonial--#{variant}" %}
  {% set attributes = attributes.addClass(variant_class) %}
{% endif %}

<div{{ attributes }}>
  <div class="hb-testimonial__wrapper">
    <figure class="hb-testimonial__content">
      {% if variant == "top" %}
        {% if quote %}
          <blockquote class="hb-testimonial__quote hb-testimonial__quote--top">
            {{ quote }}
          </blockquote>
        {% endif %}

        <figcaption class="hb-testimonial__author-block">
          {% if image %}
            <div class="hb-testimonial__image">
              {{ image }}
            </div>
          {% endif %}

          <div class="hb-testimonial__author-credits">
            {% if name %}
              <div class="hb-testimonial__name">
                {{ name }}
              </div>
            {% endif %}

            {% if position %}
              <div class="hb-testimonial__position">
                {{ position }}
              </div>
            {% endif %}

            {% if link %}
              <div class="hb-testimonial__link">
                {{ link }}
              </div>
            {% endif %}
          </div>
        </figcaption>
      {% endif %}

      {% if variant == "bottom" %}
        <figcaption class="hb-testimonial__author-block">
          {% if image %}
            <div class="hb-testimonial__image">
              {{ image }}
            </div>
          {% endif %}

          <div class="hb-testimonial__author-credits">
            {% if name %}
              <div class="hb-testimonial__name">
                {{ name }}
              </div>
            {% endif %}

            {% if position %}
              <div class="hb-testimonial__position">
                {{ position }}
              </div>
            {% endif %}
          </div>
        </figcaption>

        {% if quote %}
          <blockquote class="hb-testimonial__quote hb-testimonial__quote--bottom">
            {{ quote }}
          </blockquote>
        {% endif %}

        {% if link %}
          <div class="hb-testimonial__link">
            {{ link }}
          </div>
        {% endif %}
      {% endif %}
    </figure>
  </div>
</div>
