{% set attributes = attributes.addClass('card') %}

<div{{ attributes }}>

<div class="featured-card__container">
  <div class="featured-card__img">
  {{ image }}
  <div class="date-stacked">
    <div class="date-month">{{ month }}</div>
    <div class="date-day">{{ day }}</div>
  </div>
</div>
<div class="featured-card__content-container">
  <div class="featured-card__time">{{ time }}</div>
  <div class="featured-card__location">{{ location }}</div>
  <div class="featured-card__title"><h2>{{ title }}</h2></div>
</div>
</div>

</div>
