{% set attributes = attributes.addClass('vertical-card') %}

<div{{ attributes }}>

  <div class="featured-card__container">
    {% if image %}
      <div class="featured-card__img">
        {{ image }}
      {% endif %}

      <div class="date-stacked">
        {% if month %}
          <div class="date-month">{{ month }}</div>
        {% endif %}

        {% if day %}
          <div class="date-day">{{ day }}</div>
        {% endif %}

      </div>
    </div>

    <div class="featured-card__content-container">
      {% if time %}
        <div class="featured-card__time">{{ time }}</div>
      {% endif %}

      {% if location %}
        <div class="featured-card__location">{{ location }}</div>
      {% endif %}

      {% if title %}
        <div class="featured-card__title"><h2>{{ title }}</h2></div>
      {% endif %}
    </div>
  </div>

</div>
