
{% set attributes = attributes.addClass('mrc-featured-event-card') %}

<div{{ attributes }}>
  {% if image %}
    <div class="mrc-featured-event-card__img">
      {{ image }}
    </div>
  {% endif %}

  <div class="mrc-featured-event-card__content">
    {% if month and day %}
      {{ pattern('date_stacked', {'month': month, 'day': day}) }}
    {% endif %}

    <div class=mrc-featured-event-card__subcontent>
      {% if time %}
        <div class="mrc-featured-event-card__time">{{ time }}</div>
      {% endif %}
      {% if location %}
        <div class="mrc-featured-event-card__location">{{ location }}</div>
      {% endif %}
    </div>

    {% if speaker %}
      <div class="mrc-featured-event-card__speaker">{{ speaker }}</div>
    {% endif %}

    {% if title %}
      <h2 class="mrc-featured-event-card__title">{{ title }}</h2>
    {% endif %}

    {% if description %}
      <div class="mrc-featured-event-card__teaser">{{ description }}</div>
    {% endif %}
  </div>
</div>
