{%
  set classes = [
    'hb-card',
    'hb-card--date-stacked'
  ]
%}

{%- set attributes = attributes.addClass(classes) -%}
{% if not image %}
  {%- set attributes = attributes.addClass('hb-card--no-image') -%}
{% endif %}

{# Set path to node #}
{% if title and title['#row'].nid %}
  {% set url = path('entity.node.canonical', {'node': title['#row'].nid}) %}
{% elseif description and description['#row'].nid %}
  {% set url = path('entity.node.canonical', {'node': description['#row'].nid}) %}
{% endif %}

<div{{ attributes }}>
  {% if image or month or day %}
    <div class="hb-card__graphics{% if month or day %} hb-card__graphics--has-date{% endif %}">
      {% if image %}
        <div class="hb-card__img">
          {# Removes duplicate link from tabbing order. #}
          {% if url %}
            <a href="{{ url }}" tabindex="-1" aria-hidden="true">{{ image }}</a>
          {% else %}
            {{ image }}
          {% endif %}
        </div>
      {% endif %}

      {% if month or day %}
        <div class="hb-card__date-tile">
          {% if month %}
            <div class="hb-card__date-tile-month">{{ month }}</div>
          {% endif %}

          {% if day %}
            <div class="hb-card__date-tile-day">{{ day }}</div>
          {% endif %}
        </div>
      {% endif %}

    </div>
  {% endif %}

  <div class="hb-card__content">
    {% if category %}
      <div class="hb-card__category">{{ category }}</div>
    {% endif %}

    {% if title %}
      <div class="hb-card__title">
        <h2>{{ title }}</h2>
      </div>
    {% endif %}

    {% if time %}
      <div class="hb-card__subcontent">

        {% if time['#sources'] %}
          {% for field in time['#sources'] %}
            {% if field %}
              <div class="hb-card__subcontent-item hb-card__icon hb-card__icon--date">
                {{ field }}
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          {% if time %}
            <div class="hb-card__subcontent-item hb-card__icon hb-card__icon--date">
              {{ time }}
            </div>
          {% endif %}
        {% endif %}

      </div>
    {% endif %}

    {% if location %}
      <div class="hb-card__location hb-card__icon hb-card__icon--location">
        {{ location }}
      </div>
    {% endif %}

    {% if speaker %}
      <div class="hb-card__highlighted hb-card__icon hb-card__icon--speaker">
        {{ speaker }}
      </div>
    {% endif %}

    {% if description %}
      <div class="hb-card__description">
        {{ description }}
      </div>
    {% endif %}

    {% if button %}
      <div class="hb-card__decorative-link">
        {% if url %}
          {# Set detailed button text that describes where the link is going for accessibility. #}
          {% set link_text = 'Read More about '|t ~ title['#row'].node_field_data_title %}
          <a href="{{ url }}" class="hb-card__link">{{ link_text|default('Read More'|t) }}</a>
        {% else %}
          {{ button }}
        {% endif %}
      </div>
    {% endif %}

  </div>
</div>
