{%- set attributes = attributes.addClass('hb-card') -%}
{# Set path to node #}
{% if title and title['#row'].nid %}
  {% set url = path('entity.node.canonical', {'node': title['#row'].nid}) %}
{% elseif description and description['#row'].nid %}
  {% set url = path('entity.node.canonical', {'node': description['#row'].nid}) %}
{% endif %}

<div{{ attributes }}>
  {% if image %}
    <div class="hb-card__graphics">
      <div class="hb-card__img">
        {# Removes duplicate link from tabbing order. #}
        {% if url %}
          <a href="{{ url }}" tabindex="-1" aria-hidden="true">{{ image }}</a>
        {% else %}
          {{ image }}
        {% endif %}
      </div>
    </div>
  {% endif %}

  <div class="hb-card__content">
    {% if category %}
        <div class="hb-card__category">{{ category }}</div>
    {% endif %}

    {% if title %}
      <div class="hb-card__title">
        <h2>{{ title }}</h2>
      </div>
    {% endif %}

    {% if subcontent %}
      <div class="hb-card__subcontent">
        {% if subcontent['#sources'] %}
          {% for field in subcontent['#sources'] %}
            {% if field %}
              <div class="hb-card__subcontent-item">
                {{ field }}
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          <div class="hb-card__subcontent-item">
            {{ subcontent }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% if description %}
      <div class="hb-card__description">{{ description }}</div>
    {% endif %}

    {% if author %}
      <div class="hb-card__author">{{ author }}</div>
    {% endif %}

    {% if year %}
      <div class="hb-card__year">{{ year }}</div>
    {% endif %}

    {% if button %}
      <div class="hb-card__decorative-link">
        {% if url %}
          {# Set detailed button text that describes where the link is going for accessibility. #}
          {% set link_text = 'Read More about '|t ~ title['#row'].node_field_data_title %}
          <a href="{{ url }}" class="hb-card__link">{{ link_text|default('Read More'|t) }}</a>
        {% else %}
          {{ button }}
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
