{% set attributes = attributes.addClass(['hb-card', 'hb-vertical-card']) %}

<div{{ attributes }}>

  {% if image %}
    <div class="hb-card__graphics">
      <div class="hb-card__img">
        {{ image }}
      </div>
    </div>
  {% endif %}

  <div class="hb-card__content">
    {% if category %}
        <div class="hb-card__category">{{ category }}</div>
    {% endif %}

    {% if title %}
      <div class="hb-card__title">
        {% if button %}
          {% if title|render matches '/<\\/h\\d>/' %}
            <a href="{{ button }}" id="hb-vertical-card__title__link">{{ title }}</a>
          {% else %}
            <{{ heading_tag }} class="hb-vertical-card__title">
              <a href="{{ button }}" id="hb-vertical-card__title__link">{{ title }}</a>
            </{{ heading_tag }}>
          {% endif %}
        {% else %}
          {% if title|render matches '/<h\\d>/' %}
            {{ title }}
          {% else %}
            <{{ heading_tag }}>{{ title }}</{{ heading_tag }}>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}

    {% if subcontent %}
      <div class="hb-card__subcontent">
        {% if subcontent['#sources'] %}
          {% for field in subcontent['#sources'] %}
            {% if field %}
              <div class="hb-card__subcontent-item">
                {{ field }}
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          <div class="hb-card__subcontent-item">
            {{ subcontent }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% if description %}
      <div class="hb-card__description">{{ description }}</div>
    {% endif %}

    {% if author %}
      <div class="hb-card__author">{{ author }}</div>
    {% endif %}

    {% if year %}
      <div class="hb-card__year">{{ year }}</div>
    {% endif %}
  </div>
</div>
