{%
  set classes = [
    'hb-card',
    'hb-card--horizontal',
    'hb-card--horizontal-date-stacked'
  ]
%}

{%- set attributes = attributes.addClass(classes) -%}
{% if not image %}
  {%- set attributes = attributes.addClass('hb-card--no-image') -%}
{% endif %}

{# Set path to node #}
{% if title %}
  {% set url = path('entity.node.canonical', {'node': title['#row'].nid}) %}
{% elseif description %}
  {% set url = path('entity.node.canonical', {'node': description['#row'].nid}) %}
{% endif %}

<div{{ attributes }}>
  {% if image or month or day %}
    <div class="hb-card__graphics{% if month or day %} hb-card__graphics--has-date{% endif %}">
      {% if image %}
        <div class="hb-card__img">
          {# Removes duplicate link from tabbing order. #}
          {% if url %}
            <a href="{{ url }}" tabindex="-1" aria-hidden="true">{{ image }}</a>
          {% else %}
            {{ image }}
          {% endif %}
        </div>
      {% endif %}

      {% if month or day %}
        <div class="hb-card__date-tile">
          {% if month %}
            <div class="hb-card__date-tile-month">{{ month }}</div>
          {% endif %}

          {% if day %}
            <div class="hb-card__date-tile-day">{{ day }}</div>
          {% endif %}
        </div>
      {% endif %}

    </div>
  {% endif %}

  <div class="hb-card__content">
    {% if category %}
      <div class="hb-card__category">{{ category }}</div>
    {% endif %}

    {% if title %}
      <div class="hb-card__title">
        {{ title }}
      </div>
    {% endif %}

    {% if time or location or speaker %}
      <div class="hb-card__subcontent hb-card__subcontent--with-icons">
        {% if time %}
          <div class="hb-card__subcontent-detail hb-card__icon hb-card__icon--date">
            {% if time['#sources'] %}
              {% for field in time['#sources'] %}
                {% if field %}
                  {{ field }}
                {% endif %}
              {% endfor %}
            {% else %}
              {% if time %}
                {{ time }}
              {% endif %}
            {% endif %}
          </div>

          {% if location %}
            <div class="hb-card__subcontent-detail hb-card__icon hb-card__icon--location">
              {{ location }}
            </div>
          {% endif %}

          {% if speaker %}
            <div class="hb-card__subcontent-detail hb-card__icon hb-card__icon--speaker">
              {{ speaker }}
            </div>
          {% endif %}

        {% endif %}
      </div>
    {% endif %}

    {% if description %}
      <div class="hb-card__description">
        {{ description }}
      </div>
    {% endif %}

    {% if button %}
      {# Set detailed button text that describes where the link is going for accessibility. #}
      {% if title %}
        {% set link_text = 'Read More about '|t ~ title['#row']._entity.title.value %}
      {% else %}
        {% set link_text = 'Read More'|t %}
      {% endif %}
      <div class="hb-card__decorative-link">
        <a href="{{ url }}" class="hb-card__link">{{ link_text }}</a>
      </div>
    {% endif %}

  </div>
</div>
