<!-- ______________________ HEADER _______________________ -->

{% if page.header %}
  <header id="header">
    <div class="decanter-grid">
      {{ page.header }}
    </div>
  </header>
  <!-- /#header -->
{% endif %}

<!-- ______________________ MAIN _______________________ -->

{{ page.breadcrumb }}

{% if page.highlighted | render %}
  <div id="highlighted">{{ page.highlighted }}</div>
{% endif %}

{% if page.help %}
  <div id="help">{{ page.help }}</div>
{% endif %}

<div id="main-content" class="decanter-grid main-container">
  {{ page.content }}
</div>

<!-- ______________________ FOOTER _______________________ -->

{% if page.footer | render %}
  <footer id="footer">
    <div class="decanter-grid">
      {{ page.footer }}
    </div>
  </footer>
  <!-- /#footer -->
{% endif %}
