{# Controls individual menu items (<button>, <a>) #}

{% import "@humsci_basic/menus-twig/secondary-menu.twig" as menus %}
{% set link_url = item.url.toString %}
{# item.attributes is where special attributes like 
   private pages, unpublished pages, etc. are stored #}
{% set link_attributes = item.attributes %}
{% set link_attributes = link_attributes.addClass(menu_base_class ~ "__link") %}
{% set button_attributes = create_attribute() %}
{% set button_attributes = button_attributes.addClass([menu_base_class ~ "__toggle", "js-" ~ menu_base_class ~ "__toggle"]) %}
{% set button_attributes = button_attributes.setAttribute('aria-expanded', 'false') %}
{% set button_attributes = button_attributes.setAttribute('aria-haspopup', 'true') %}
{% if item.in_active_trail == true %}
  {% set link_attributes = link_attributes.addClass(menu_base_class ~ "__active-trail", "js-" ~ menu_base_class ~ "__active-trail") %}
  {% set button_attributes = button_attributes.addClass(menu_base_class ~ "__active-trail", "js-" ~ menu_base_class ~ "__active-trail") %}
{% endif %}
{% if item.in_active_trail and not item.below %}
  {% set link_attributes = link_attributes.addClass(menu_base_class ~ "__is-active") %}
{% endif %}

{# If the menu item is first level and has children, make
   it a button. Otherwise, make it a link #}
{% if menu_level == 0 and item.below == true %}
  <button{{button_attributes}}>{{ item.title }}</button>
  {% else %}
  {% if link_url %}
  <a href={{link_url}} {{link_attributes}}>{{ item.title }}</a>
    {% else %}
      {% set link_attributes = link_attributes.addClass(menu_base_class ~ "__no-link") %}
      <span {{link_attributes}}>{{ item.title }}</span>
  {% endif %}
{% endif %}

{# Only show menu items three levels deep #}
{% if item.below %}
  {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_class, menu_modifiers, menu_blockname, item_base_class, original_item_modifiers, item_blockname) }}
{% endif %}
