{%- set attributes = attributes.addClass('hb-spotlight') -%}

{% if variant %}
  {% set variant_class = "hb-spotlight--image-#{variant}" %}
  {% set attributes = attributes.addClass(variant_class) %}
{% endif %}

{% set text_content = overlay_text %}
{% if overlay_text['field_hs_spotlight_title'] is defined %}
  {% set text_content %}
    <{{ heading_tag }} class="hb-spotlight__title">
      {{ overlay_text['field_hs_spotlight_title'] }}
    </{{ heading_tag }}>
    {{ overlay_text|without('field_hs_spotlight_title') }}
  {% endset %}
{% endif %}

{% apply spaceless %}
  <div{{ attributes }}>
    <div class="hb-spotlight__wrapper">
      {% if image %}
        <div class="hb-spotlight__image-wrapper">
          {{ image }}
        </div>
      {% endif %}
      {% if overlay_text %}
        <div class="hb-spotlight__text">
          {{ text_content }}
        </div>
      {% endif %}
    </div>
  </div>
{% endapply %}
