{%- set attributes = attributes.addClass('hb-gradient-hero') -%}

{% if variant == 'right' %}
  {% set variant_class = "hb-gradient-hero--content-#{variant}" %}
  {% set attributes = attributes.addClass(variant_class) %}
{% endif %}

{% set text_content = overlay_text %}
{% if overlay_text['field_hs_gradient_hero_title'] is defined and overlay_text['field_hs_gradient_hero_title'][0] %}
  {% set text_content %}
    <{{ heading_tag }}>
      {{ overlay_text['field_hs_gradient_hero_title'] }}
    </{{ heading_tag }}>
    {{ overlay_text|without('field_hs_gradient_hero_title') }}
  {% endset %}
{% endif %}

{% apply spaceless %}
  <div{{ attributes }}>
    {% if image %}
      <div class="hb-gradient-hero__image-wrapper">
        {{ image }}
      </div>
    {% endif %}
    {% if overlay_text %}
      <div class="hb-gradient-hero__text">
        {{ text_content }}
      </div>
    {% endif %}
  </div>
{% endapply %}
