{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{{ attach_library('humsci_basic/lazy-load-video') }}

{% set video_url = output|trim %}
{% set provider = video_url matches '/youtu/' ? 'youtube' : (video_url matches '/vimeo/' ? 'vimeo' : 'other') %}
{% set video_id = '' %}
{% set thumb = '' %}
{% set is_playlist = false %}

{% if provider == 'youtube' %}
  {% if video_url matches '/list=/' %}
    {% set is_playlist = true %}
    {% set video_id = video_url|split('list=')|last %}
  {% else %}
    {% set video_id = video_url|replace({'https://youtu.be/': '', 'https://www.youtube.com/watch?v=': '', 'https://youtube.com/watch?v=': ''})|split('&')|first %}
    {% set thumb = 'https://img.youtube.com/vi/' ~ video_id ~ '/hqdefault.jpg' %}
  {% endif %}
{% elseif provider == 'vimeo' %}
  {% set video_id = video_url|replace({'https://vimeo.com/': ''}) %}
{% endif %}

<div class="video-lazy"
     data-video-url="{{ video_url }}"
     data-video-provider="{{ provider }}"
     data-video-id="{{ video_id }}"
     data-is-playlist="{{ is_playlist }}">
  {% if thumb %}
    <img class="video-thumb" src="{{ thumb }}" alt="Video thumbnail">
  {% else %}
    <div class="video-thumb-placeholder"></div>
  {% endif %}
  <button class="video-play" aria-label="Play video">
    <span hidden>Play video</span>
  </button>
</div>
