{#
/**
 * @file
 * Lockup Component from Decanter
 * https://github.com/SU-SWS/decanter/blob/master/core/src/templates/components/lockup/lockup.twig.
 *
 * A lockup with the Stanford wordmark logo and department/site name. It links to the homepage of the department/unit.
 *
 * Default class for the lockup:
 * - .su-lockup - Lockup with one line to the right of the wordmark.
 *
 * Available variants for the lockup:
 * - .su-lockup--option-a
 * - .su-lockup--option-b
 * - .su-lockup--option-c
 * - .su-lockup--option-d
 * - .su-lockup--option-e
 * - .su-lockup--option-f
 * - .su-lockup--option-g
 * - .su-lockup--option-h
 * - .su-lockup--option-i
 * - .su-lockup--option-j
 * - .su-lockup--option-k
 * - .su-lockup--option-l
 * - .su-lockup--option-m
 * - .su-lockup--option-n
 * - .su-lockup--option-o
 * - .su-lockup--option-p
 * - .su-lockup--option-q
 * - .su-lockup--option-r
 * - .su-lockup--option-s
 * - .su-lockup--option-t
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - modifier_class: Additional css classes to change look and behaviour.
 * - lockup: global setting variable that contains the below children:
 *  - option: What lockup option was selected from the settings dropdown
 *  - link: The URL that the lockup links to.
 *  - line1: Line 1 of the unit/site name text (to the right of the wordmark).
 *  - line2: Line 2 of the unit/site name text (to the right of the wordmark).
 *  - line3: Line 3 of the unit/site name text (to the right of the wordmark).
 *  - line4: Line 4 of the unit/site name text (under the wordmark).
 *  - line5: Line 5 of the unit/site name text (at the bottom part of the lockup).
 * - region_attributes: Attributes for each region variable
 */
#}

{#
  Each of the variant classes changes how many lines are rendered in the lockup.
#}

{% if lockup.option is not empty %}
  {% set attributes = attributes.addClass(["su-lockup--option-" ~ lockup.option]) %}
{% endif %}

{# If line 2 set #}
{% if lockup.line2 is not empty %}
 {% set line2 = lockup.line2|render|striptags %}
{% endif %}

{# If line 5 set #}
{% if lockup.line5 is not empty %}
 {% set line5 = lockup.line5|render|striptags %}
{% endif %}

{# If ALL lines 1-5 are not set, allow default Slogan and Site Name to be used #}
{% if lockup.line1 is empty and line2 is empty and lockup.line3 is empty and lockup.line4 is empty and line5 is empty %}
  {% set line2 = content.site_name|render %}
  {% set line5 = content.site_slogan|render %}
{% endif %}

{# In case we ever want to pipe this through to a decanter template: #}
{%
  set data = {
  'attributes': attributes|without('class'),
  'modifier_class': attributes.class,
  'link': url('<front>'),
  'line1': lockup.line1|render|striptags,
  'line2': line2,
  'line3': lockup.line3|render|striptags,
  'line4': lockup.line4|render|striptags,
  'line5': line5
  }
%}

<div {{ data.attributes }} class="su-lockup {{ data.modifier_class }}">
  {% if data.link is not empty %}
  <a href="{{ data.link }}" {{ link_attributes }} class="su-lockup__link">
  {% endif %}

  {#- Cell container #1 -#}
  <div class="su-lockup__cell1">
    {% block cell1 %}
      <div class="su-lockup__wordmark-wrapper">
        <span class="su-lockup__wordmark">Stanford</span>
        {% if data.line4 is not empty %}
          <span class="su-lockup__line4" {{ region_attributes.line4 }}>{{ data.line4 }}</span>
        {% endif %}
      </div>
    {% endblock %}
  </div>

  {#- Cell container #2 -#}
  <div class="su-lockup__cell2">
    {% block cell2 %}
    {% if data.line1 is not empty %}
    <span class="su-lockup__line1" {{ region_attributes.line1 }}>{{ data.line1 }}</span>
    {% endif %}

    {% if data.line2 is not empty %}
    <span class="su-lockup__line2" {{ region_attributes.line2 }}>{{ data.line2 }}</span>
    {% endif %}

    {% if data.line3 is not empty %}
    <span class="su-lockup__line3" {{ region_attributes.line3 }}>{{ data.line3 }}</span>
    {% endif %}
    {% endblock %}
  </div>

  {#- Line 5 of Site Name - Optional -#}
  {% if data.line5 is not empty %}
    <div class="su-lockup__line5 {{ region_attributes.line5 }}">
      {%- block cell3 -%}
      {{- data.line5 -}}
      {%- endblock -%}
    </div>
  {% endif %}

  {% if data.link is not empty %}
    </a>
  {% endif %}
</div>


