
{% set attributes = attributes.addClass('mrc-news-card') %}

<div{{ attributes }}>
  {% if image %}
    <div class="mrc-news-card__img">
      {{ image }}
    </div>
  {% endif %}
  <div class="mrc-news-card__content">

    {% if time %}
      <div class="mrc-news-card__date">{{ time }}</div>
    {% endif %}

    <div class=mrc-news-card__subcontent>
      {% if link %}
        <div class="mrc-news-card__source">
          {{ link }}
        </div>
      {% endif %}

      {% if link and program %}
        &nbsp;|&nbsp;
      {% endif %}

      {% if program %}
        <div class="mrc-news-card__program">{{ program }}</div>
      {% endif %}
    </div>

    {% if title %}
      <h2 class="mrc-news-card__title">{{ title }}</h2>
    {% endif %}
  </div>
</div>
