{%
  set classes = [
    'hb-card',
    'hb-horizontal-expandable-card'
  ]
%}

{% set summary_attributes = summary_attributes ?: create_attribute() %}
{%- set attributes = attributes.addClass(classes) -%}

<div {{attributes}}>
	<div class="hb-horizontal-expandable-card__header">
		<div class="hb-horizontal-expandable-card__content">
			{% if categories %}
				<div class="hb-horizontal-expandable-card__categories">
					{{ categories }}
				</div>
			{% endif %}
			{% if title %}
				<div class="hb-horizontal-expandable-card__title">
					{{ title }}
				</div>
			{% endif %}
			{% if introduction %}
				<div class="hb-horizontal-expandable-card__introduction">
					{{ introduction }}
				</div>
			{% endif %}
		</div>
		<div class="hb-horizontal-expandable-card__toggle">
			<button aria-label="{{ alert_dismiss_text|default("Expand") }}" class="hb-horizontal-expandable-card__toggle-button" type="button"></button>
		</div>
	</div>

	{% if details %}
		<div
			class="hb-horizontal-expandable-card__details">
			{# Nuevo contenedor interno necesario para la magia del Grid #}
			<div class="hb-horizontal-expandable-card__details-inner">
				{{ details }}
			</div>
		</div>
	{% endif %}
</div>
