{% set attributes = attributes.addClass('hb-vertical-linked-card') %}

<div{{ attributes }}>
  {% if image %}
    <div class="hb-vertical-linked-card__img">
      {{ image }}
    </div>
  {% endif %}

  {% if title and button %}
    {% if title_has_heading %}
      <a href="{{ button }}" class="hb-vertical-linked-card__title__link">{{ title }}</a>
    {% else %}
      <{{ heading_tag }} class="hb-vertical-linked-card__title">
        <a href="{{ button }}" class="hb-vertical-linked-card__title__link">{{ title }}</a>
      </{{ heading_tag }}>
    {% endif %}
  {% elseif title %}
    {% if title_has_heading %}
      {{ title }}
    {% else %}
      <h2 class="hb-vertical-linked-card__title">{{ title }}</h2>
    {% endif %}
  {% endif %}

  {% if description %}
    <div class="hb-vertical-linked-card__description">
      {{ description }}
    </div>
  {% endif %}
</div>
