{% set attributes = attributes.addClass('hb-vertical-linked-card') %}

{% if link_url %}
  {% set attributes = attributes.setAttribute('data-link-url', link_url) %}
{% endif %}

{% if link_text %}
  {% set attributes = attributes.setAttribute('data-link-text', link_text) %}
{% endif %}

<div{{ attributes }}>
  {% if image %}
    <div class="hb-vertical-linked-card__img">
      {{ image }}
    </div>
  {% endif %}

  {% if title and href %}
    {% if title|render matches '/<\\/h\\d>/' %}
      <a href="{{ href }}" class="hb-vertical-linked-card__title__link hb-heading-4">{{ title }}</a>
    {% else %}
      <{{ heading_tag }} class="hb-vertical-linked-card__title hb-heading-4">
        <a href="{{ href }}" class="hb-vertical-linked-card__title__link">{{ title }}</a>
      </{{ heading_tag }}>
    {% endif %}
  {% elseif title %}
    {% if title|render matches '/<h\\d>/' %}
      {{ title }}
    {% else %}
      <h2 class="hb-vertical-linked-card__title hb-heading-4">{{ title }}</h2>
    {% endif %}
  {% endif %}

  {% if description %}
    <div class="hb-vertical-linked-card__description">
      {{ description }}
    </div>
  {% endif %}
</div>
