{% set attributes = attributes.addClass('hero-text-overlay') %}

{% apply spaceless %}
  <div{{ attributes }}>

    <div class="image color-{{ variant }}">
      {{ image }}
    </div>

    <div class="overlay-text color-{{ variant }}">
      {{ overlay_text }}
    </div>

  </div>
{% endapply %}
