{% set attributes = attributes.addClass('simple-node') %}

<div{{ attributes }}>


  {% if sidebar %}
    <div class="simple-node__sidebar decanter-width-one-fourth">
      {{ sidebar }}
    </div>
  {% endif %}

  <div class="simple-node__main {% if sidebar %} decanter-width-three-fourths{% endif %}">

    {{ page_title }}

    {% if image %}
      <div class="mrc-simple__img">{{ image }}</div>
    {% endif %}



    {% if above_break %}
      <div class="mrc-simple__above-break">{{ above_break }}</div>
    {% endif %}

    {% if above_break and below_break %}
      <div class="mrc-simple__separator"></div>
    {% endif %}

    {% if below_break %}
      <div class="mrc-simple__below-break">{{ below_break }}</div>
    {% endif %}
  </div>
</div>
