{% if content.left_sidebar and content.right_sidebar %}
  {% set main_class = 'decanter-width-one-half' %}
{% elseif content.left_sidebar or content.right_sidebar %}
  {% set main_class = 'decanter-width-three-fourths' %}
{% endif %}

{% set attributes = attributes.addClass([settings.section_width, 'clearfix', 'three-column-w-image']) %}

{% set main_id = settings.main_content == 'main' %}three-column-w
{% set attributes = settings.main_content == 'left_sidebar' ? attributes.setAttribute('id', 'main-content') : attributes %}
{% set layout_container_tag = settings.main_content == 'left_sidebar' ? 'main' : 'div' %}
{% set main_container_tag = settings.main_content == 'main' ? 'main' : 'div' %}

{% if content %}
  <{{ layout_container_tag }}{{ attributes }}>
    {% if content.left_sidebar %}
      <div{{ region_attributes.left_sidebar.addClass(['decanter-width-one-fourth', 'layout__region']) }}>
        {{ content.left_sidebar }}
      </div>
    {% endif %}


    <{{ main_container_tag }} class="main-content {{ main_class }}"{% if main_id %} id="main-content"{% endif %}>
      {% if content.title %}
        <div{{ region_attributes.title.addClass(['layout__region', 'decanter-width-one-whole']) }}>
          {{ content.title }}
        </div>
      {% endif %}

      {% if content.top %}
        <div{{ region_attributes.top.addClass(['top', 'layout__region']) }}>
          {{ content.top }}
        </div>
      {% endif %}

      {% if content.image %}
        <div{{ region_attributes.image.addClass(['image-wrapper', 'layout__region', settings.image_float ?: 'align-left']) }}>
          {{ content.image }}
        </div>
      {% endif %}

      <div class="main {% if content.main_below and content.main_above %}break-below-top{% endif %}">
        {% if content.main_above %}
          <div{{ region_attributes.main_above.addClass(['main-above', 'layout__region']) }}>
            {{ content.main_above }}
          </div>
        {% endif %}

        {% if content.main_below %}
          <div{{ region_attributes.main_below.addClass(['main-below', 'layout__region']) }}>
            {{ content.main_below }}
          </div>
        {% endif %}
      </div>
    </{{ main_container_tag }}>

    {% if content.right_sidebar %}
      <div{{ region_attributes.right_sidebar.addClass(['decanter-width-one-fourth', 'layout__region']) }}>
        {{ content.right_sidebar }}
      </div>
    {% endif %}
  </{{ layout_container_tag }}>

{% endif %}
