{% set attributes = attributes.addClass('terms-event-series') %}

<div{{ attributes }}>

  {% if sidebar %}
    <div class="terms-event-series__sidebar decanter-width-one-fourth">
      {{ sidebar }}
    </div>
  {% endif %}

  <div class="terms-event-series__main{% if sidebar %} decanter-width-three-fourths{% endif %}">

    {{ page_title }}

    {% if top %}
      <div class="terms-event-series--top">
        {{ top }}
      </div>
    {% endif %}

    {% if bottom_left or bottom_right %}
      <div class="terms-event-series-bottom decanter-grid">

        {% if bottom_left %}
          <div class="terms-event-series--bottom-left decanter-width-one-half">
            {{ bottom_left }}
          </div>
        {% endif %}

        {% if bottom_right %}
          <div class="terms-event-series--bottom-right decanter-width-one-half">
            {{ bottom_right }}
          </div>
        {% endif %}

      </div>
    {% endif %}

    {% if footer %}
      <div class="terms-event-series--footer decanter-grid">
        {{ footer }}
      </div>
    {% endif %}

  </div>

</div>
