{{ attach_library('humsci_basic/video-with-caption') }}
{{ attach_library('humsci_basic/lazy-load-video') }}

{#
  Custom lazy-load YouTube/Vimeo video field.
  Replaces the embedded iframe with a thumbnail that loads the video on click.
#}
{% for item in items %}
  {% set video_url = item.content['#context'].value ?? item.content['#url'] ?? '' %}
    {% set provider = video_url matches '/youtu/' ? 'youtube' : (video_url matches '/vimeo/' ? 'vimeo' : 'other') %}
    {% set video_id = '' %}
    {% set thumb = '' %}

    {% if provider == 'youtube' %}
      {% set video_id = video_url|replace({'https://youtu.be/': '', 'https://www.youtube.com/watch?v=': '', 'https://youtube.com/watch?v=': ''})|split('&')|first
      %}
      {% set thumb = 'https://img.youtube.com/vi/' ~ video_id ~ '/hqdefault.jpg' %}
    {% elseif provider == 'vimeo' %}
      {% set video_id = video_url|replace({'https://vimeo.com/': ''}) %}
      {% set thumb = '' %}
    {% endif %}

    <div class="video-lazy"
         data-video-url="{{ video_url }}"
         data-video-provider="{{ provider }}"
         data-video-id="{{ video_id }}">
      {% if thumb %}
        <img class="video-thumb" src="{{ thumb }}" alt="Video thumbnail">
      {% else %}
        <div class="video-thumb-placeholder"></div>
      {% endif %}
      <button class="video-play" aria-label="Play video">
        <span hidden>Play video</span>
      </button>
    </div>
{% endfor %}
