{%- set attributes = attributes.addClass('hb-card') -%}
{%- set url = url|render|striptags('<drupal-render-placeholder>')|trim -%}
{%- set has_image = image|render|striptags('<drupal-render-placeholder><span><div><picture><source><img>')|trim -%}

<div{{ attributes }}>

  {% if has_image is not empty %}
    <div class="hb-card__img hb-card__graphics">
      {{ image }}
    </div>
  {% endif %}

  <div class="hb-card__content">
    {% if category %}
        <div class="hb-card__category">{{ category }}</div>
    {% endif %}

    {% if title %}
      <div class="hb-card__title">{{ title }}</div>
    {% endif %}

    {% if subcontent %}
      <div class="hb-card__subcontent">
        <div class="hb-card__subcontent-item">{{ subcontent }}</div>
      </div>
    {% endif %}

    {% if description %}
      <div class="hb-card__description">{{ description }}</div>
    {% endif %}

    {% if url %}
      <a href="{{ url }}" class="hb-card__decorative-link" aria-label="{{ url }}"></a>
    {% endif %}
  </div>
</div>
