{%- set attributes = attributes.addClass('hb-cmp-card') -%}
{%- set url = url|render|striptags('<drupal-render-placeholder>')|trim -%}
{%- set has_image = image|render|striptags('<drupal-render-placeholder><span><div><picture><source><img>')|trim -%}

<div{{ attributes }}>

  {% if has_image is not empty %}
    <div class="hb-cmp-card__img">
      {{ image }}
    </div>
  {% endif %}

  <div class="hb-cmp-card__content">
    {% if category %}
        <div class="hb-cmp-card__category hb-cmp-card__category--accent">{{ category }}</div>
    {% endif %}

    {% if title %}
      <div class="hb-cmp-card__title">{{ title }}</div>
    {% endif %}

    {% if date %}
      {% set general_variants = {'date': date} %}

      <div class="hb-cmp-card__subcontent">
        {% for key, variant in general_variants %}
          {% if variant %}
            <div class="hb-cmp-card__subcontent-item">{{ variant }}</div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if description %}
      <div class="hb-cmp-card__description">{{ description }}</div>
    {% endif %}

    {% if url %}
    <a href="{{ url }}" class="hb-cmp-card__decorative-link">
      <svg aria-label="external link" xmlns="http://www.w3.org/2000/svg" width="23" height="24" viewBox="0 0 23 24">
        <path d="M11 23l-2-2 7-7H0v-3h16L9 3l2-2 10 10 1 1-11 11z"/>
      </svg>
    </a>
    {% endif %}
  </div>
</div>
