{% set attributes = attributes.addClass('vertical-card') %}

<div{{ attributes }}>

  {% if image %}
    <div class="vertical-card__img">
      {{ image }}
    </div>
  {% endif %}

  <div class="vertical-card__content-container">
    {% if title %}
      <h2 class="vertical-card__title">{{ title }}</h2>
    {% endif %}
    {% if description %}
      <div class="vertical-card__description">
        {{ description }}
      </div>
    {% endif %}
    {% if author or year %}
      <div class=vertical-card__author-year>
        {% if author %}
          <div class="vertical-card__author-year--author">{{ author }}</div>
        {% endif %}

        {% if author and year %}
          <div class="comma">,</div>
        {% endif %}

        {% if year %}
          <div class="vertical-card__author-year--year">{{ year }}</div>
        {% endif %}
      </div>
    {% endif %}
    {% if button %}
      <div class="vertical-card__button">{{ button }}</div>
    {% endif %}
  </div>
</div>
