
{% set attributes = attributes.addClass('mrc-postcard') %}

<div{{ attributes }}>

{% if super_head %}
  <h2 class="mrc-postcard__superhead">{{ super_head }}</h2>
{% endif %}

  {% if image %}
    <div class="mrc-postcard__img">
      {{ image }}
    </div>
  {% endif %}

  <div class="mrc-postcard__content">
    {% if title %}
      <h2 class="mrc-postcard__title">{{ title }}</h2>
    {% endif %}
    {% if description %}
      <div class="mrc-postcard__description">
        {{ description }}
      </div>
    {% endif %}
    {% if button %}
      <div class="mrc-postcard__button">
        {{ button }}
      </div>
    {% endif %}
  </div>
</div>
