<header id="header">
  <div class="grid--container">

    {% if page.header %}
      <div id="header-region">
        {{ page.header }}
      </div>
    {% endif %}

    {% if page.search %}
      <div id="search-region">
        {{ page.search }}
      </div>
    {% endif %}

  </div>

  {% if page.menu %}
    <div class="grid--container">
      <div id="menu-region" class="grid--12-of-12">
        {{ page.menu }}
      </div>
    </div>
  {% endif %}

</header>

{% if page.help or page.highlighted %}
  <div id="help-region" class="grid--container">
    {{ page.help }}
    {{ page.highlighted }}
  </div>
{% endif %}

<div id="main-content" class="main-container {{ main_class }}">
  {{ page.content }}
</div>

{% if page.footer %}
  <footer id="footer">
    <div class="grid--container">
      {{ page.footer }}
    </div>
  </footer>
{% endif %}
