{% set attributes = attributes.addClass('mrc-event-date-stacked-card') %}

<div{{ attributes }}>
  <div class="mrc-event-date-stacked__item">

    <div class="mrc-date-stacked">
      {% if month %}
        <div class="mrc-date-stacked__month">{{ month }}</div>
      {% endif %}
      {% if day %}
        <div class="mrc-date-stacked__day">{{ day }}</div>
      {% endif %}
    </div>

    <div class="mrc-event-date-stacked__content">
      {% if program %}
        <div class="mrc-event-date-stacked__program">{{ program }}</div>
      {% endif %}

      <div class="mrc-event-date-stacked__time-location">
        {% if time %}
          <div class="mrc-event-date-stacked__time">{{ time }}</div>
        {% endif %}

        {% if time and location %}
          <div class="pipe">|</div>
        {% endif %}

        {% if location %}
          <div class="mrc-event-date-stacked__location">{{ location }}</div>
        {% endif %}
      </div>

      {% if speaker %}
        <div class="mrc-event-date-stacked__speaker">{{ speaker }}</div>
      {% endif %}

      {% if title %}
        <h2 class="mrc-event-date-stacked__title">{{ title }}</h2>
      {% endif %}
    </div>
  </div>
</div>
