{% set attributes = attributes.addClass('hb-vertical-linked-card') %}

<div{{ attributes }}>
  {% if image %}
    <div class="hb-vertical-linked-card__img">
      {{ image }}
    </div>
  {% endif %}

  {% if title %}
    <h2 class="hb-vertical-linked-card__title">
      {{ title }}
    </h2>
  {% endif %}

  {% if description %}
    <div class="hb-vertical-linked-card__description">
      {{ description }}
    </div>
  {% endif %}

  {% if button %}
    <a href="{{ button }}" aria-label="{{ title }}" class="hb-vertical-linked-card__link"></a>
  {% endif %}
</div>
