{%
  set classes = [
    'hb-card',
    'hb-card--horizontal',
    'hb-card--horizontal-date-stacked'
  ]
%}

{%- set attributes = attributes.addClass(classes) -%}
{% if not image %}
  {%- set attributes = attributes.addClass('hb-card--no-image') -%}
{% endif %}

<div{{ attributes }}>

  {% if image or month or day %}
    <div class="hb-card__graphics{% if month or day %} hb-card__graphics--has-date{% endif %}">

      {% if image %}
        <div class="hb-card__img">
          {{ image }}
        </div>
      {% endif %}

      {% if month or day %}
        <div class="hb-card__date-tile">
          {% if month %}
            <div class="hb-card__date-tile-month">{{ month }}</div>
          {% endif %}

          {% if day %}
            <div class="hb-card__date-tile-day">{{ day }}</div>
          {% endif %}
        </div>
      {% endif %}

    </div>
  {% endif %}

  <div class="hb-card__content">
    {% if category %}
      <div class="hb-card__category">{{ category }}</div>
    {% endif %}

    {% if title %}
      <div class="hb-card__title">
        {{ title }}
      </div>
    {% endif %}

    {% if time or location or speaker %}
      <div class="hb-card__subcontent hb-card__subcontent--with-icons">
        {% if time %}
          <div class="hb-card__subcontent-detail hb-card__icon hb-card__icon--date">
            {% if time['#sources'] %}
              {% for field in time['#sources'] %}
                {% if field %}
                  {{ field }}
                {% endif %}
              {% endfor %}
            {% else %}
              {% if time %}
                {{ time }}
              {% endif %}
            {% endif %}
          </div>

          {% if location %}
            <div class="hb-card__subcontent-detail hb-card__icon hb-card__icon--location">
              {{ location }}
            </div>
          {% endif %}

          {% if speaker %}
            <div class="hb-card__subcontent-detail hb-card__icon hb-card__icon--speaker">
              {{ speaker }}
            </div>
          {% endif %}

        {% endif %}
      </div>
    {% endif %}

    {% if description %}
      <div class="hb-card__description">
        {{ description }}
      </div>
    {% endif %}

    {% if button %}
      <div class="hb-card__decorative-link">
        {{ button }}
      </div>
    {% endif %}

  </div>
</div>
