{% set attributes = attributes.addClass('hb-card') %}
{%- set url = url|render|striptags('<drupal-render-placeholder>')|trim -%}
{%- set has_image = image|render|striptags('<drupal-render-placeholder><img>')|trim -%}

<div{{ attributes }}>

  {% if image or month or day %}
    <div class="hb-card__graphics">

      {% if has_image is not empty %}
        <div class="hb-card__img">
          {{ image }}
        </div>
      {% endif %}

      {% if month or day %}
        <div class="hb-card__date-tile">
          {% if month %}
            <div class="hb-card__date-tile-month">{{ month }}</div>
          {% endif %}

          {% if day %}
            <div class="hb-card__date-tile-day">{{ day }}</div>
          {% endif %}
        </div>
      {% endif %}

    </div>
  {% endif %}

  <div class="hb-card__content">
    {% if category %}
      <div class="hb-card__category">{{ category }}</div>
    {% endif %}

    {% if title %}
      <div class="hb-card__title">
        <h2>{{ title }}</h2>
      </div>
    {% endif %}

    {% if time|render|trim or location|render|trim %}

      {% set general_variants = {'time': time, 'location': location} %}

      <div class="hb-card__subcontent">
        {% for key, variant in general_variants %}
          {% if variant|render|striptags('<drupal-render-placeholder><a>')|trim  %}
            <div class="hb-card__subcontent-item">{{ variant }}</div>
          {% endif %}
        {% endfor %}
      </div>

    {% endif %}

    {% if speaker|render|trim %}
      <div class="hb-card__highlighted">
        {{ speaker }}
      </div>
    {% endif %}

    {% if description %}
      <div class="hb-card__description">
        {{ description }}
      </div>
    {% endif %}

    {% if button %}
      {# Do we need this wrapper for styling? #}
      <div class="hb-card__decorative-link">
        {{ button }}
      </div>
    {% endif %}

  </div>
</div>
