{% set attributes = attributes.addClass('hb-timeline-item') %}

{% if description %}
  {% if variant == 'open' %}
    {% set attributes = attributes.setAttribute('open', 'open') %}
  {% endif %}
{% endif %}

{% if description %}
  <details {{ attributes }} open>
    <summary class="hb-timeline-item__summary" aria-expanded="true" aria-pressed="true">
      <div class="hb-timeline-item__heading">
        {{ summary }}
      </div>
      {% if subheading %}
        <div class="hb-timeline-item__subheading">
          {{ subheading }}
        </div>
      {% endif %}
    </summary>

    <div class="hb-timeline-item__revealed-details">
      <div class="hb-timeline-item__description">
        {{ description }}
      </div>
    </div>
  </details>
{% else %}
  <div {{ attributes }}>
    <div class="hb-timeline-item__summary">
      <div class="hb-timeline-item__heading">
        {{ summary }}
      </div>
      {% if subheading %}
        <div class="hb-timeline-item__subheading">
          {{ subheading }}
        </div>
      {% endif %}
    </div>
  </div>

{% endif %}
