{% set attributes = attributes.addClass(['event-node', 'decanter-grid']) %}

<div{{ attributes }}>

  {% if sidebar %}
    <div class="mrc-event__sidebar decanter-width-one-fourth">
      {{ sidebar }}
    </div>
  {% endif %}

  <div class="mrc-event__main{% if sidebar %}  decanter-width-three-fourths{% endif %}">

    {{ page_title }}

    {% if image %}
      <div class="mrc-event__img">{{ image }}</div>
    {% endif %}

    {% if location %}
      <div class="mrc-event__location">{{ location }}</div>
    {% endif %}

    {% if date %}
      <div class="mrc-event__date">{{ date }}</div>
    {% endif %}

    {% if time %}
      <div class="mrc-event__time">{{ time }}</div>
    {% endif %}

    {% if event_link %}
      <div class="mrc-event__event-link">{{ event_link }}</div>
    {% endif %}


    <div class="mrc-event__map-admission">
      {% if map %}
        <div class="mrc-event__map">{{ map }}</div>
      {% endif %}

      {% if admission %}
        <div class="mrc-event__admission">{{ admission }}</div>
      {% endif %}

      {% if speaker %}
        <div class="mrc-event__speaker">{{ speaker }}</div>
      {% endif %}
    </div>

    {% if description %}
      <div class="mrc-event__description">{{ description }}</div>
    {% endif %}

    {% if sponsor %}
      <div class="mrc-event__sponsor">
        <span class="sponsored-by">{{ "Sponsored by "|t }}</span>{{ sponsor }}
      </div>
    {% endif %}

    {% if email or phone %}
      <div class="mrc-event__contact">

        <div class="contact-label">
          {{ "Event contact information:"|t }}
        </div>

        {% if email %}
          <div class="email">{{ email }}</div>
        {% endif %}

        {% if phone %}
          <div class="phone">{{ phone }}</div>
        {% endif %}
      </div>
    {% endif %}

    {% if embed_video %}
      <div class="decanter-embed-container" aria-label="16:9">{{ embed_video }}</div>
    {% endif %}

  </div>
</div>
