{#
/**
 * @file
 * Default theme implementation to display theme information on the dashboard.
 *
 * Available variables:
 * - theme_name: The name of the active theme.
 * - color_pairing: The selected color pairing.
 * - animation_enhancements: Whether animations are enabled.
 * - help_text: Help text for users.
 */
#}
<dl>
  <div>
    <dt>{{ 'Theme'|t }}</dt>
    <dd>{{ theme_name }}</dd>
  </div>
  <div>
    <dt>{{ 'Color Pairing'|t }}</dt>
    <dd>{{ color_pairing }}</dd>
  </div>
  <div>
    <dt>{{ 'Animation Enhancements'|t }}</dt>
    <dd>{{ animation_enhancements }}</dd>
  </div>
  <div>
    <p class="help-text">{{ help_text }}</p>
  </div>
</dl>
