{#
/**
 * @file
 * Default theme implementation to display theme information on the dashboard.
 *
 * Available variables:
 * - theme_name: The name of the active theme.
 * - color_pairing: The selected color pairing.
 * - animation_enhancements: Whether animations are enabled.
 * - help_text: Help text for users.
 */
#}
<ul>
  <li><strong>{{ 'Theme'|t }}:</strong> {{ theme_name }}</li>
  <li><strong>{{ 'Color Pairing'|t }}:</strong> {{ color_pairing }}</li>
  <li><strong>{{ 'Animation Enhancements'|t }}:</strong> {{ animation_enhancements }}</li>
</ul>
<p class="help-text">{{ help_text }}</p>
