{% set attributes = attributes.addClass('dated-event') %}


<div{{ attributes }}>

  {% if month|has_markup or day|has_markup %}
    <div class="dated-event_date">
      <span class="vertical-spacer"></span>

      <div class="dated-event_vertical-centered">
        <div class="dated-event_month">
          {{ month|render|striptags|trim }}
        </div>

        <div class="dated-event_day">
          {{ day|render|striptags|trim }}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="dated-event_details">
    <div class="dated-event_title">
      {{ title }}
    </div>
    {% if location|has_markup %}
      <div class="dated-event_location">
        {{ location }}
      </div>
    {% endif %}

    {% if time|has_markup or room|has_markup %}
      <div class="dated-event_time-room">
        {{ time|render|striptags|trim }}{% if time|has_markup and room|has_markup %} | {% endif %}{{ room|render|striptags('<a>')|trim|raw }}
      </div>
    {% endif %}
  </div>
</div>
