<header class="masthead">
  <section>
  {% if page.header %}
    {{ page.header }}
  {% endif %}

  {% if page.search %}
    {{ page.search }}
  {% endif %}
  {% if page.menu %}
    {{ page.menu }}
  {% endif %}
  </section>
</header>

{% if page.help %}
  <div class="hb-obj-page-width">
    {{ page.help }}
  </div>
{% endif %}

<div id="main-content">
  {{ page.content }}
</div>

{% if page.footer %}
  <div id="footer">
    {{ page.footer }}
  </div>
{% endif %}
