<header class="su-masthead">
  <a href="#main-content" class="su-skiplinks ">{{ 'Skip to main content'|t }}</a>

  {% include humsci_basic ~ '/themes/humsci/humsci_basic/templates/components/brandbar.html.twig' with { modifier_class : brand_bar_variant_classname } %}

  <section class="hb-page-width">
    {% if page.header %}
      {{ page.header }}
    {% endif %}

    {% if page.search %}
    <div class="su-site-search">
      {{ page.search }}
    </div>
    {% endif %}

    {% if page.menu %}
      {{ page.menu }}
    {% endif %}
  </section>
</header>

<div class="hb-hero-overlay hb-hero-overlay--1">
  {# These empty divs are used for styling the color blocks layered on the hero #}
  <div class="hb-hero-overlay--1__grey-block"></div>
  <div class="hb-hero-overlay--1__secondary-color-block"></div>

  <div class="hb-hero-overlay__image-wrapper">
    <span class="contextual-region media media--type-image media--view-mode-">
      <picture>
        <source srcset="/sites/economics/files/styles/hero_with_text_large/public/media/michael-dam-mez3pofgs_k-unsplash.jpg?h=ec3c274d&amp;itok=b2yRwCdZ 1x" media="screen and (min-width: 1024px)" type="image/jpeg">
        <source srcset="/sites/economics/files/styles/responsive_medium/public/media/michael-dam-mez3pofgs_k-unsplash.jpg?itok=wNQQjE3v 1x" media="screen and (min-width: 768px)" type="image/jpeg">
        <source srcset="/sites/economics/files/styles/responsive_small/public/media/michael-dam-mez3pofgs_k-unsplash.jpg?itok=GWUX8PMQ 1x" media="(min-width: 0em)" type="image/jpeg">
        <img src="/sites/economics/files/styles/hero_with_text_large/public/media/michael-dam-mez3pofgs_k-unsplash.jpg?h=ec3c274d&amp;itok=b2yRwCdZ" alt="woman in a red shirt smiling">
      </picture>
    </span>
  </div>

  <div class="hb-hero-overlay__text">
    <h2>Hero Sample Title</h2>
    <p>Jelly-o chocolate caramels jelly ice cream chocolate bar soufflé marshmallow. Soufflé lollipop biscuit brownie. Donut jelly-o marshmallow candy candy sweet roll donut. Soufflé apple pie powder cookie</p>
    <a href="">Visit Site</a>
  </div>

</div>

<div class="hb-hero-overlay hb-hero-overlay--1">
  {# These empty divs are used for styling the color blocks layered on the hero #}
  <div class="hb-hero-overlay--1__grey-block"></div>
  <div class="hb-hero-overlay--1__secondary-color-block"></div>

  <div class="hb-hero-overlay__image-wrapper">
    <span class="contextual-region media media--type-image media--view-mode-">
      <picture>
        <source srcset="/sites/economics/files/styles/hero_with_text_large/public/media/image/rgwx0v_0.jpg?h=2aa300aa&amp;itok=atdOmuVv 1x" media="screen and (min-width: 1024px)" type="image/jpeg">
        <source srcset="/sites/economics/files/styles/responsive_medium/public/media/image/rgwx0v_0.jpg?itok=OAG-m3Re 1x" media="screen and (min-width: 768px)" type="image/jpeg">
        <source srcset="/sites/economics/files/styles/responsive_small/public/media/image/rgwx0v_0.jpg?itok=qB3KdIlJ 1x" media="(min-width: 0em)" type="image/jpeg"><img src="/sites/economics/files/styles/hero_with_text_large/public/media/image/rgwx0v_0.jpg?h=2aa300aa&amp;itok=atdOmuVv" alt="">
      </picture>
    </span>
  </div>

  <div class="hb-hero-overlay__text">
    <h2>Hero Sample Title Horizontal</h2>
    <p>Jelly-o chocolate caramels jelly ice cream chocolate bar soufflé marshmallow. Soufflé lollipop biscuit brownie. Donut jelly-o marshmallow candy candy sweet roll donut. Soufflé apple pie powder cookie</p>
    <a href="">Visit Site</a>
  </div>

</div>

{% if page.help %}
  <div class="hb-page-width">
    {{ page.help }}
  </div>
{% endif %}

<div id="main-content">
  {{ page.content }}
</div>

{# Local Footer #}
{% if page.footer %}
  <div class="hb-local-footer {{ local_footer_variant_classname }}">
    <div class="hb-page-width flex-container flex-container--row-gap">
      {{ page.footer }}
    </div>
  </div>
{% endif %}

{# Global Footer #}
{% include humsci_basic ~ '/themes/humsci/humsci_basic/templates/components/global-footer.html.twig' with { modifier_class : global_footer_variant_classname } %}
