<header id="header" class="su-masthead">
  <a href="#main-content" class="su-skiplinks ">{{ 'Skip to main content'|t }}</a>

  {% include humsci_basic ~ '/themes/humsci/humsci_basic/templates/components/brandbar.html.twig' with { modifier_class : brand_bar_variant_classname } %}

  <section class="hb-page-width hb-position-relative">
    {% if page.header %}
      {{ page.header }}
    {% endif %}

    {% if page.search %}
    <div class="su-site-search" role="search">
      {{ page.search }}
    </div>
    {% endif %}

    {% if page.menu %}
      {{ page.menu }}
    {% endif %}
  </section>
</header>

{% if page.help %}
  <div class="hb-page-width">
    {{ page.help }}
  </div>
{% endif %}

<div id="main-content">
  {{ page.content }}
</div>

{# Local Footer #}
{% if page.footer %}
  <div id="footer" class="hb-local-footer {{ local_footer_variant_classname }}">
    <div class="hb-page-width flex-container flex-container--row-gap">
      {{ page.footer }}
    </div>
  </div>
{% endif %}

{# Global Footer #}
{% include humsci_basic ~ '/themes/humsci/humsci_basic/templates/components/global-footer.html.twig' with { modifier_class : global_footer_variant_classname } %}
