{% include humsci_basic ~ '/themes/humsci/humsci_basic/templates/components/brandbar.html.twig' with { modifier_class : brand_bar_variant_classname } %}

<header class="hb-masthead">
  <section>
  {% if page.header %}
    {{ page.header }}
  {% endif %}

  {% if page.search %}
    {{ page.search }}
  {% endif %}
  {% if page.menu %}
    {{ page.menu }}
  {% endif %}
  </section>
</header>

{% if page.help %}
  <div class="hb-page-width">
    {{ page.help }}
  </div>
{% endif %}

<div id="main-content">
  {{ page.content }}
</div>

{% if page.footer %}
  <div id="footer">
    {{ page.footer }}
  </div>
{% endif %}

{% include humsci_basic ~ '/themes/humsci/humsci_basic/templates/components/global-footer.html.twig' with { modifier_class : global_footer_variant_classname } %}
