{%
  set classes = [
    'hb-card',
    'hb-card--horizontal',
    'hb-card--structured'
  ]
%}

{%- set attributes = attributes.addClass(classes) -%}

{# Set path to node #}
{% if title %}
  {% set url = path('entity.node.canonical', {'node': title['#row'].nid}) %}
{% elseif description %}
  {% set url = path('entity.node.canonical', {'node': description['#row'].nid}) %}
{% endif %}

<div{{ attributes }}>
  {% if image %}
    <div class="hb-card__graphics">
      <div class="hb-card__img">
        {# Removes duplicate link from tabbing order. #}
        {% if url %}
          <a href="{{ url }}" tabindex="-1" aria-hidden="true">{{ image }}</a>
        {% else %}
          {{ image }}
        {% endif %}
      </div>
    </div>
  {% endif %}

  <div class="hb-card__content">
    {% if title %}
      <div class="hb-card__title">
        {{ title }}
      </div>
    {% endif %}

    {% if subtitle %}
      <div class="hb-card__subtitle">{{ subtitle }}</div>
    {% endif %}

    {% if description %}
      <div class="hb-card__description">{{ description }}</div>
    {% endif %}

    {% if columns %}

      {% if columns['#sources'] %}
        <div class="hb-card__columns">
          {% for columns_field in columns['#sources'] %}
            {% if columns_field %}
              {{ columns_field }}
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        <div class="hb-card__columns">{{ columns }}</div>
      {% endif %}

    {% endif %}

    {% if category %}

      {% if category['#sources'] %}
        <div class="hb-card__category">
          {% for category_field in category['#sources'] %}
            {% if category_field %}
              {{ category_field }}
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        <div class="hb-card__category">{{ category }}</div>
      {% endif %}

    {% endif %}

    {% if bottom %}
      {# Note:
        It makes sense to reuse the .hb-card__description class here since both
        elements should be styled the same.

        If we find that we need to reuse this class again we should consider
        renaming to something more reusable.
      #}
      <div class="hb-card__description">{{ bottom }}</div>
    {% endif %}
  </div>
</div>
