{% set attributes = attributes.addClass('table-row') %}

<div{{ attributes.setAttribute('role', 'row') }} role="row">
  {% if column_1 %}
    <div class="column-1" role="gridcell">
      {{ column_1 }}
    </div>
  {% endif %}

  {% if column_2 %}
    <div class="column-2" role="gridcell">
      {{ column_2 }}
    </div>
  {% endif %}

  {% if column_3 %}
    <div class="column-3" role="gridcell">
      {{ column_3 }}
    </div>
  {% endif %}

  {% if column_4 %}
    <div class="column-4" role="gridcell">
      {{ column_4 }}
    </div>
  {% endif %}

  {% if column_5 %}
    <div class="column-5" role="gridcell">
      {{ column_5 }}
    </div>
  {% endif %}
</div>
