{%
  set classes = [
    'hb-card',
    'hb-card--horizontal'
  ]
 %}

{%- set attributes = attributes.addClass(classes) -%}

<div{{ attributes }}>

  {% if image %}
    <div class="hb-card__graphics">
      <div class="hb-card__img">
        {{ image }}
      </div>
    </div>
  {% endif %}

  <div class="hb-card__content">
    {% if category %}
      <div class="hb-card__category">{{ category }}</div>
    {% endif %}

    {% if title %}
      <div class="hb-card__title">
        <h2>{{ title }}</h2>
      </div>
    {% endif %}

    {% if date or time or location %}
      {% set general_variants = {'date': date, 'time': time, 'location': location} %}

      <div class="hb-card__subcontent">
        {% for key, variant in general_variants %}
          {% if variant %}
            <div class="hb-card__subcontent-item">{{ variant }}</div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if speaker %}
      <div class="hb-card__highlighted">
        {{ speaker }}
      </div>
    {% endif %}

    {% if description %}
      <div class="hb-card__description">
        {{ description }}
      </div>
    {% endif %}

    {% if button %}
      <div class="hb-card__decorative-link">
        {{ button }}
      </div>
    {% endif %}
  </div>
</div>
