{%
  set classes = [
    'hb-card',
    'hb-card--horizontal'
  ]
 %}

{%- set attributes = attributes.addClass(classes) -%}

<div{{ attributes }}>

  {% if image %}
    <div class="hb-card__graphics">
      <div class="hb-card__img">
        {{ image }}
      </div>
    </div>
  {% endif %}

  <div class="hb-card__content">
    {% if category %}
      <div class="hb-card__category">{{ category }}</div>
    {% endif %}

    {% if title %}
      <div class="hb-card__title">
        {% if title_has_heading %}
          {{ title }}
        {% else %}
          <h2>{{ title }}</h2>
        {% endif %}
      </div>
    {% endif %}

    {% if date or time or location %}
      {% set general_variants = {'date': date, 'time': time, 'location': location} %}

      <div class="hb-card__subcontent">
        {% for key, variant in general_variants %}
          {% if variant %}
            <div class="hb-card__subcontent-item">{{ variant }}</div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if speaker %}
      <div class="hb-card__highlighted">
        {{ speaker }}
      </div>
    {% endif %}

    {% if description %}
      <div class="hb-card__description">
        {{ description }}
      </div>
    {% endif %}

    {% if button %}
      {% set node_url = button['#row'] ? url('entity.node.canonical', { 'node': button['#row']._entity.id }) %}
      <div class="hb-card__decorative-link">
        {% if node_url %}
          <a href="{{ node_url }}" tabindex="-1" aria-hidden="true">
            {{ 'Read More'|t }}
          </a>
        {% else %}
          {{ button }}
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
