{%
  set classes = [
    'hb-card',
    'hb-card--horizontal'
  ]
 %}

{%- set attributes = attributes.addClass(classes) -%}
{# Set path to node #}
{% if title and title['#row'].nid %}
  {% set url = path('entity.node.canonical', {'node': title['#row'].nid}) %}
{% elseif description and description['#row'].nid %}
  {% set url = path('entity.node.canonical', {'node': description['#row'].nid}) %}
{% endif %}

<div{{ attributes }}>
  {% if image %}
    <div class="hb-card__graphics">
      <div class="hb-card__img">
        {# Removes duplicate link from tabbing order. #}
        {% if url %}
          <a href="{{ url }}" tabindex="-1" aria-hidden="true">{{ image }}</a>
        {% else %}
          {{ image }}
        {% endif %}
      </div>
    </div>
  {% endif %}

  <div class="hb-card__content">
    {% if category %}
      <div class="hb-card__category">{{ category }}</div>
    {% endif %}

    {% if title %}
      <div class="hb-card__title">
        <h2>{{ title }}</h2>
      </div>
    {% endif %}

    {% if date or time or location %}
      {% set general_variants = {'date': date, 'time': time, 'location': location} %}

      <div class="hb-card__subcontent">
        {% for key, variant in general_variants %}
          {% if variant %}
            <div class="hb-card__subcontent-item">{{ variant }}</div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if speaker %}
      <div class="hb-card__highlighted">
        {{ speaker }}
      </div>
    {% endif %}

    {% if description %}
      <div class="hb-card__description">
        {{ description }}
      </div>
    {% endif %}

    {% if button %}
      <div class="hb-card__decorative-link">
        {% if url %}
          {# Set detailed button text that describes where the link is going for accessibility. #}
          {% set link_text = 'Read More about '|t ~ title['#row'].node_field_data_title %}
          <a href="{{ url }}" class="hb-card__link">{{ link_text|default('Read More'|t) }}</a>
        {% else %}
          {{ button }}
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
