{%
  set classes = [
    'hb-card',
    'hb-card--horizontal'
  ]
 %}

{%- set attributes = attributes.addClass(classes) -%}
{%- set url = url|render|striptags('<drupal-render-placeholder>')|trim -%}
{%- set has_image = image|render|striptags('<drupal-render-placeholder><span><div><picture><source><img>')|trim -%}

<div{{ attributes }}>

  {% if has_image is not empty %}
    <div class="hb-card__img hb-card__graphics">
      {{ image }}
    </div>
  {% endif %}

  <div class="hb-card__content">
    {% if category %}
      <div class="hb-card__category">{{ category }}</div>
    {% endif %}

    {% if title %}
      <div class="hb-card__title">
        <h2>{{ title }}</h2>
      </div>
    {% endif %}

    {% if date or time|render|trim or location|render|trim %}
      {#  create array and cycle through with pipes? #}
      {# /set will probably work - not sure abt arrays #}
      {% set general_variants = {'date': date, 'time': time, 'location': location} %}

      <div class="hb-card__subcontent">
        {% for key, variant in general_variants %}
          {% if variant|render|striptags('<drupal-render-placeholder><a>')|trim %}
            <div class="hb-card__subcontent-item">{{ variant }}</div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if speaker|render|trim %}
      <div class="hb-card__highlighted">
        {{ speaker }}
      </div>
    {% endif %}

    {% if description %}
      <div class="hb-card__description">
        {{ description }}
      </div>
    {% endif %}

    {% if button %}
      <div class="hb-card__decorative-link">
        {{ button }}
      </div>
    {% endif %}
  </div>
</div>
