{% set attributes = attributes.addClass('horizontal-card') %}

<div{{ attributes }}>

  {% if image %}
    <div class="horizontal-card__img">
      {{ image }}
    </div>
  {% endif %}

  <div class="horizontal-card__content">
    {% if category %}
      <div class="horizontal-card__category accent-dash">{{ category }}</div>
    {% endif %}

    {% if date %}
      <div class="horizontal-card__date">{{ date }}</div>
    {% endif %}

    {% if time|render|trim or location|render|trim %}
      <div class=horizontal-card__subcontent>
        {% if time|render|trim %}
          <div class="horizontal-card__time">{{ time }}</div>
        {% endif %}

        {% if time|render|trim and location|render|trim %}
          <div class="pipe">|</div>
        {% endif %}

        {% if location|render|trim %}
          <div class="horizontal-card__location">{{ location }}</div>
        {% endif %}
      </div>
    {% endif %}

    {% if title %}
      <div class="horizontal-card__title">{{ title }}</div>
    {% endif %}

    {% if speaker %}
      <div class="horizontal-card__speaker">{{ speaker }}</div>
    {% endif %}

    {% if description %}
      <div class="horizontal-card__description">{{ description }}</div>
    {% endif %}

  </div>
</div>
