{% set attributes = attributes.addClass('grid--container') %}

{% if content.left_sidebar and content.right_sidebar %}
  {% set main_class = 'grid--6-of-12' %}
{% elseif content.left_sidebar or content.right_sidebar %}
  {% set main_class = 'grid--9-of-12' %}
{% endif %}

<div{{ attributes }}>
  {% if content.left_sidebar %}
    <div class="grid--3-of-12">
      {{ content.left_sidebar }}
    </div>
  {% endif %}


  <div class="{{ main_class }}">
    {{ content.main }}
  </div>

  {% if content.right_sidebar %}
    <div class="grid--3-of-12">
      {{ content.right_sidebar }}
    </div>
  {% endif %}
</div>
