{% set attributes = attributes.addClass('decanter-grid') %}

{% if content.left_sidebar and content.right_sidebar %}
  {% set main_class = 'decanter-width-one-half' %}
{% elseif content.left_sidebar or content.right_sidebar %}
  {% set main_class = 'decanter-width-three-fourths' %}
{% endif %}

<div{{ attributes }}>
  {% if content.left_sidebar %}
    <div class="decanter-width-one-fourth">
      {{ content.left_sidebar }}
    </div>
  {% endif %}


  <div class="{{ main_class }}">
    {{ content.main }}
  </div>

  {% if content.right_sidebar %}
    <div class="decanter-width-one-fourth">
      {{ content.right_sidebar }}
    </div>
  {% endif %}
</div>
