{%- set attributes = attributes.addClass('hb-hero-overlay') -%}

{% set text_content = overlay_text %}
{% if overlay_text['field_hs_hero_title'] is defined and overlay_text['field_hs_hero_title'][0] is defined %}
  {% set text_content %}
    <{{ heading_tag }}>
      {{ overlay_text['field_hs_hero_title'] }}
    </{{ heading_tag }}>
    {{ overlay_text|without('field_hs_hero_title') }}
  {% endset %}
{% endif %}

{% apply spaceless %}
  <div{{ attributes }}>
    <div class="hb-hero-overlay__image-wrapper">
      {{ image }}
    </div>

    <div class="hb-hero-overlay__text">
      {{ text_content }}
    </div>
  </div>
{% endapply %}
