{% set attributes = attributes.addClass('date-stacked-vertical-card') %}

<div{{ attributes }}>

  <div class="date-stacked-vertical-card__container">
    {% if image %}
      <div class="date-stacked-vertical-card__img">
        {{ image }}

        <div class="date-stacked">
          {% if month %}
            <div class="date-month">{{ month }}</div>
          {% endif %}

          {% if day %}
            <div class="date-day">{{ day }}</div>
          {% endif %}

        </div>
      </div>
    {% endif %}

    <div class="date-stacked-vertical-card__content-container">
      {% if time %}
        <div class="date-stacked-vertical-card__time">{{ time }}</div>
      {% endif %}

      {% if location %}
        <div class="date-stacked-vertical-card__location">{{ location }}</div>
      {% endif %}

      {% if title %}
        <div class="date-stacked-vertical-card__title">
          <h2>{{ title }}</h2>
        </div>
      {% endif %}
    </div>
  </div>

</div>
