{%- set attributes = attributes.addClass('hb-testimonial') -%}

{% if variant %}
  {% set variant_class = "hb-testimonial--#{variant}" %}
  {% set attributes = attributes.addClass(variant_class) %}
{% endif %}

<div{{ attributes }}>
  <div class="hb-testimonial__wrapper">

  {% if variant == "top" %}
    {% if quote %}
      <div class="hb-testimonial__quote hb-testimonial__quote--top">
        {{ quote }}
      </div>
    {% endif %}
  {% endif %}

  {% if name %}
    <div class="hb-testimonial__name">
      {{ name }}
    </div>
  {% endif %}

  {% if position %}
    <div class="hb-testimonial__position">
      {{ position }}
    </div>
  {% endif %}

    {% if image %}
    <div class="hb-testimonial__image">
      {{ image }}
    </div>
  {% endif %}

  {% if variant == "bottom" %}
    {% if quote %}
      <div class="hb-testimonial__quote hb-testimonial__quote--bottom">
        <p>{{ quote }}</p>
      </div>
    {% endif %}
  {% endif %}

  {% if link %}
    <div class="hb-testimonial__link">
      {{ link }}
    </div>
  {% endif %}

  </div>
</div>