{% set attributes = attributes.addClass(['hb-card', 'hb-vertical-button-card']) %}

<div{{ attributes }}>

  {% if image %}
    <div class="hb-card__graphics">
      <div class="hb-card__img">
        {{ image }}
      </div>
    </div>
  {% endif %}

  <div class="hb-card__content">
    {% if title %}
      <div class="hb-card__title">
        {% if title|render matches '/<\\/h\\d>/' %}
          {{ title }}
        {% else %}
          <{{ heading_tag }}>{{ title }}</{{ heading_tag }}>
        {% endif %}
      </div>
    {% endif %}

    {% if description %}
      <div class="hb-card__description">{{ description }}</div>
    {% endif %}
  </div>
</div>
