{% set attributes = attributes.addClass('hb-timeline') %}

{% if variant == 'collapsed' %}
  {% set attributes = attributes.addClass('hb-timeline__collapsed') %}
{% endif %}

{% if variant == 'expanded' %}
  {% set attributes = attributes.addClass('hb-timeline__expanded') %}
{% endif %}

{% set timeline_content = timeline %}
{% if timeline['field_hs_time_title'] is defined and timeline['field_hs_time_title'][0] %}
  {% set timeline_content %}
    <{{ heading_tag }} class="hb-timeline__title">
      {{ timeline['field_hs_time_title'] }}
    </{{ heading_tag }}>
    {{ timeline|without('field_hs_time_title') }}
  {% endset %}
{% endif %}

<div {{ attributes }}>
  <div class="hb-timelime__wrapper">
    {% if timeline_content %}
      {{ timeline_content }}
    {% endif %}
  </div>
</div>
